body{
    text-align: center;
}

a{
    text-decoration: none;
    
}

.top-menu {
    padding: 25.5px 72px;
    text-align: center;
}

.top-menu li {
    display: inline;
    color: red;
    font-size: 18px;
    margin-right: 100px;
}

.top-menu li a {
    color:red;
    text-transform: uppercase;
    font-weight: bold;
}
.container{
    width: 1200px;
    margin: 0 auto;
}

   

h2{
   
    padding-top: 48px;
    margin-bottom: 29px ;
    font-size: 22px;
    font-family:'Montserrat', sans-serif; 
   
    font-weight: bold;
    text-transform: uppercase;
    
}
p{
    
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
     margin-left: 67.5px;
    line-height: 26px;
    letter-spacing: 2.4px;
    
}
   
img {
    max-width: 1200px;
    text-align: center;
    }

button{

    margin: 66px 42px;
    width: 191px;
    height: 51px;
    left: 544.5px;
    padding
    
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #FF0000;
    border-radius: 4px;
    color: #ffff;

}
.text{
    width: 1070px;
    height: 39px;
    margin: 0px 713px 29px;
    position: absolute;
   
    left: 608px;
    
    align-items: center;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;

    font-weight: 700;
    font-size: 16px;
    color: #373737;
}