.wrapper{
    width: 1366px;

    margin: 0 auto;

     font-family: 'Roboto', sans-serif;
    background-image: url(../img/background\ 1.jpg);
}

.conteiner{
    display: flex;

    width: 1030px;
    height: 61px;
    padding: 46px 177px 17px 161px;

 
}
.conteiner-logo{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 200px;

   
}
.conteiner-logo:hover a{
    color: #F26522;
}



.conteiner-logo-img{
    background-image: url(../img/logo\ 3.png);
    width: 53px;
    height: 47px;
 
}

.conteiner-logo-img:hover {
    background-image: url(../img/logo\ 2.png);
    width: 53px;
    height: 47px;

}

.conteiner-logo-text{
    display: flex;
    flex-direction: column;
  
   
}


.conteiner-logo-text a{
    text-decoration: none;
    color: #ffffff;
    margin: 5px 0px 0px 10px;

    

}
.conteiner-logo-text :first-child{
    font-weight: 700;
    font-size: 29px;
}
.conteiner-logo-text :last-child{
    font-weight: 700;
    font-size: 18px;
}
.conteiner-logo-text :hover {
    color: #F26522;
}
.conteiner-logo-text-right{
    display: flex;
    margin-left: 608px;
    padding-bottom:  30px;
    flex-direction: column;
}

.conteiner-logo-text-right a{
    text-decoration: none;
    color: #ffffff;
   font-size: 18px;
   font-weight: 400;
    text-align: right;
    margin: 8px;
    
 
}
.conteiner-logo-text-right :hover{
    color: #F26522;
}



.about-us{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 220px 220px;
    grid-column-gap: 62px;
    grid-row-gap: 78px;
    text-align: center;
    justify-content: center;
    margin-bottom: 90px;
}

.block-list-text {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 20px;
    }

    .block-list-img{
        width: 310px;
        height: 220px;
        padding: 2px;
        position: relative;
        background: linear-gradient(180deg ,white, transparent);
    }


.block-list-text{
    width: 314px;
    height: 57px;
    margin: auto;
    box-sizing: border-box;
    background: #F26522;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: none;
}

.block-list-text h6{
    line-height: 10px;
    padding-left: 16px;
    text-align: left;
    font-size: 10px;
    
    padding-top: 7px;
   
}

.info-menu{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.info-text{
    font-size: 20px;
    line-height: 20px;
    margin-left: 16px;
    margin-top: 8px;
}
 
.info-details{
    font-size: 14px;
    line-height: 14px;
    margin-right: 37px;
}

.block-list-img:hover .block-list-text{
    display: block;
}

.img-border-bottom:hover .block-list-text{
    display: block;
}

.block-list-img:hover a{
    color: #F26522;

}



.info-details::after{
    content: url(../img/vector.svg);
    left: 290px;
    top: 32px;
    position: absolute;
}
.block-list-text-bottom a{
    text-decoration: none;
    color: #ffffff;
   
}
.block-list-text-bottom{
    margin: 20px 0px 0px 0px;
}

.footer{
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
padding-bottom: 15px;
  
}