body{
    width: 100%;
	height: 100%;
	font-family: "Droid Sans", arial, verdana, sans-serif;
	font-weight: 700;
	color: rgb(175, 175, 39);
	background-color: rgb(17, 16, 16);
    margin: 0px auto;
}

.titles
{
	position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	font-weight: bold;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(25deg);
}

.titles:after{
    position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none
}
.titlecontent h2{
   text-align: center;
   padding: 40px ;
}
.titlecontent p{
    padding: 30px;
}
.titlecontent
{
	position: absolute;
	top: 100%;
	animation: scroll 30s linear 0s infinite;
    
}
@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}
	