@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
}
a{
    text-decoration: none;
    color: white;
}

.top-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #313131;
    align-items: center;
}
.top-menu-logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 188px;
}
.top-menu-logo :last-child{
    color: white;
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
}
.top-menu__nav{
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    width: 722px;
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.top-menu__nav a:hover{
    color: #14b9d5;
}
.nav-search{
    width: 70px;
    background: #000000;
}

.nav-search-img{
    margin: 25px 25px;
}
.background{
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}
.background-text{
    font-size: 27px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #ffffff;
    padding-bottom: 44px;
    padding-top: 163px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.backgroun-button{
    display: flex;
    justify-content: center;
    padding-bottom: 74px;
}
.btn{
    width: 170px;
    height: 55px;
    border:none;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    cursor: pointer;
}
.backgroun-button :first-child{
    background: #89ca62;
    margin-right: 10px;
}
.backgroun-button :last-child{
    background: #14b9d5;
    margin-left: 10px;
}
.conteiner{
    background: #F2F2F2;
}
.conteiner-title{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    text-transform: uppercase;
    text-align: center;
    padding: 50px;
}
.conteiner-content{
    display: flex;
    justify-content: center;
   
}
.conteiner-img{
    display: flex;
    flex-direction: column;
}
.content__photo{
    display: flex;
    flex-direction: column;
    width: 370px;
    margin: 15px 30px 20px 10px;
  
}
.content__photo p{
    color: #353A3D;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    background-color: white;
    padding: 20px;
}

.conteiner__imet{
    background-image: url(../img/parallax-background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 200px;
}
.conteiner__imet-title{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 44px;
    color: white;
    text-align: center;
    padding: 100px;
}
.conteiner__imet-line{

    height: 1px;
    color: #18B4CF;
    background-color: #18B4CF;
    width: 60px;
    margin: 0 auto;
}
.conteiner__imet-img{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  1fr;
    text-align: center;
    padding: 100px;
  
}
.post-conteiner-img{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    height: 190px;
}


.most-news-conteiner{
    padding-bottom: 70px;
}

.most-news-content{
    display: grid;
    grid-template-columns: 856px 277px;;
    text-align: center;
    justify-content: center;
    grid-gap: 35px;
    margin-bottom: 45px;
}

.most-news-content h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    background: #F9F7F7;
    padding: 14px 27px 11px 27px;
}

.most-news-content p{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    margin-right: 24px;
}

.most-news-content-img{
    display: flex;
    text-align: end;
}

.most-news-content-text{
    background: #F9F7F7;
}

.most-news-content-text h3{
    padding: 41px 24px 14px 31px;
}

.most-news-content-center{
    display: grid;
    grid-template-columns: 554px 554px;
    grid-gap: 45px 60px;
    text-align: end;
    justify-content: center;
}

.most-news-content-center-img{
    display: flex;
    flex-direction: column;
}

.most-news-content-center-text{
    background-color: #F9F7F7;
}

.most-news-content-center-text p{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    margin-right: 14px;
    margin-bottom: 3px;
    margin-left: 14px;
    margin-top: 14px;
}

.most-news-content-center-text h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    margin-top: 13px;
    margin-left: 0px;
    margin-right: 27px;
}

.most-news-content-center-botton{
    display: grid;
    grid-template-columns: 277px 856px;
    text-align: center;
    justify-content: center;
    grid-gap: 35px;
    margin-top: 45px;
}

.most-news-content-center-botton h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    background: #F9F7F7;
    padding: 14px 27px 11px 27px;
}

.most-news-content-center-botton p{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    padding: 15px 24px 40px 0px;
    background: #F9F7F7;
}

.most-news-content-center-botton-right{
    display: flex;
    text-align: end;
}

.most-news-content-center-botton-text{
    background: #F9F7F7;
}



.footer-logo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    justify-items: center;
    height: 80px;
    background: #000000;
    color: white;
}

.footer-logo p{
    font-size: 13px;
    line-height: 13px;
    margin-left: 290px;
}

.footer-logo-img:last-child{
    margin-bottom: 8px;

}